@font-face {
    font-family: myFirstFont;
    src: url(../font/Bellota-Regular.otf);
}

body {
    font-family: myFirstFont;
    color: #303030;
}

fieldset {
	background-color:  #15c5bd;
}

.round {
	border-radius: 1000px;
}

button {
	margin: auto;
	width: 80%; 
}
.large-6.large-centered.row {
	text-align: center
}
h1 {
	font-size: 32px;
	text-align: center;
}

img {
	img-align: center;
}