@font-face {
    font-family: myFirstFont;
    src: url(../font/Bellota-Regular.otf);
}

body {
    font-family: myFirstFont;
    color: #303030;
}

h1 {
	font-size: 32px;
}

fieldset {
	background-color:  #15c5bd;
}

.round {
	border-radius: 1000px;
}

#touch {
	display: none;
}

.help-text.hide {
	display: none;
}

/*
.row {
	background-color: blue;
}

.columns {
	background-color: red;
}
*/